* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgba(225, 212, 201, 1);
	padding: 20px 35px;
	font-family: "Inter", sans-serif;
	overflow-x: hidden;
	user-select: none;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.logo {
	width: 120px;
}
.nav-item {
	color: rgba(64, 63, 61, 1);
	padding: 2px 0;
}
.cup-wrap {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	border-bottom: 2.5px solid rgba(64, 63, 61, 1);
}

.a-border {
	background-color: rgba(64, 63, 61, 1);
	height: 2px;
	width: 100%;
	border-radius: 2px;
	transform-origin: center;
	transform: scaleX(0);
	transition: 0.7s;
}

.nav-item:hover .a-border {
	transform: scaleX(1);
}

.imgWrapper {
	position: relative;
}
.img-hero {
	display: block;
	width: 100%;
	margin: 20px 0;
	border-radius: 42px;
}
.in-img-wrapper {
	max-width: 530px;
	position: absolute;
	top: 100px;
	left: 100px;
	color: rgba(225, 212, 201, 1);
}
.title {
	font-size: 64px;
	line-height: 105%;
	font-weight: 700;
}
.desc {
	color: rgba(225, 212, 201, 1);
	margin: 60px 0;
	line-height: 150%;
}
.enjoy {
	color: rgba(176, 144, 122, 1);
	font-style: italic;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: inherit;
	font-size: 17px;
	/* gap: 8px; */
	border: none;
	width: 200px;
	border-radius: 100px;
	background-color: rgba(225, 212, 201, 1);
	font-weight: 600;
	color: rgba(64, 63, 61, 1);
	cursor: pointer;
	padding: 20px 78px;
}
.menu-t {
	margin-left: 7px;
	transition: 0.5s;
}
.add-cup {
	margin-left: 8px;
	transition: 0.5s;
}
.menu-cup {
	transform: scale(0);
	transition: 0.2s;
}
.choose-title {
	color: rgba(64, 63, 61, 1);
	font-size: 60px;
	text-align: center;
	margin: 50px 0px 40px;
}
.favorite {
	font-style: italic;
	color: rgba(176, 144, 122, 1);
}
.father-choose-wrap {
	position: relative;
	user-select: none;
}
.choose-wrapper {
	display: flex;
	overflow-x: hidden;
	transition: transform 0.5s;
}
.fst {
	text-align: center;
	display: inline-block;
	flex: 0 0 100%;
	text-align: center;
	color: rgba(64, 63, 61, 1);
	font-family: inherit;
	position: relative;
	margin: 0 auto;
	transition: 0.8s;
}

.arrow-right {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: 0.8s;
	cursor: pointer;
}
.arrow-right:hover {
	background-color: rgba(102, 95, 85, 1);
	transition: 0.7s;
}
.arrow-right:hover path {
	stroke: rgba(225, 212, 201, 1);
	transition: 0.7s;
}

.arrow-left {
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: 0.8s;
	transform: scale(-1, 1);
	cursor: pointer;
}
.arrow-left:hover {
	background-color: rgba(102, 95, 85, 1);
	transition: 0.7s;
}
.arrow-left:hover path {
	stroke: rgba(225, 212, 201, 1);
	transition: 0.7s;
}

.desc-wrap {
	text-align: center;
	color: rgba(64, 63, 61, 1);
	font-family: inherit;
	margin: 0 auto;
	display: inline-block;
	width: 100%;
}
.description {
	margin: 20px auto;
	line-height: 150%;
	max-width: 500px;
}
.borders {
	display: flex;
	justify-content: space-between;
	width: 140px;
	margin: 20px auto;
}
.borderr {
	background-color: rgba(193, 182, 173, 1);
	height: 3.5px;
	width: 40px;
	border-radius: 3px;
}
.main-border {
	height: 100%;
	background-color: rgba(102, 95, 85, 1);
	border-radius: 3px;
	transform-origin: left;
	transform: scaleX(0);
}

.title-def {
	font-size: 60px;
	color: rgba(64, 63, 61, 1);
	margin: 40px auto;
	text-align: center;
}
.title-def-span {
	color: rgba(176, 144, 122, 1);
	font-style: italic;
}
.images-wrapper {
	display: flex;
	justify-content: space-evenly;
	gap: 30px;
}
.about {
	margin: 30px 0;
	border-radius: 30px;
	overflow: hidden;
}
.sec-about {
	height: 500px;
	overflow: hidden;
}
.third-about {
	height: 500px;
	overflow: hidden;
}
.about-item {
	display: block;
	border-radius: 30px;
	width: 100%;
	height: 100%;
	scale: 1.2;
	transition: 1s;
	object-fit: cover;
}
.about-item:hover {
	scale: 1;
	transition: 1s;
}
.download-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.apps {
	flex: 1;
	display: flex;
	padding: 0 100px 0 0;
	flex-direction: column;
	justify-content: center;
}
.phone-image {
	flex: 1;
}
.mobile-screen {
	display: block;
	width: 100%;
}
.down-title {
	font-size: 60px;
	color: rgba(64, 63, 61, 1);
	line-height: 75px;
}
.down-desc {
	color: rgba(64, 63, 61, 1);
	margin: 40px 0;
}
.down-span {
	color: rgba(176, 144, 122, 1);
	font-style: italic;
}
.btn-wrapper {
	display: flex;
	gap: 10px;
}
.btn-icon {
	border: 1px solid rgba(102, 95, 85, 1);
	color: rgba(64, 63, 61, 1);
	padding: 12px 27px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: inherit;
	gap: 10px;
	border-radius: 100px;
	background-color: inherit;
	font-weight: 600;
	transition: 0.8s;
}
.btn-icon:hover {
	background-color: rgba(102, 95, 85, 1);
	color: rgba(225, 212, 201, 1);
	transition: 0.8s;
}

.available {
	font-size: smaller;
	margin-bottom: 5px;
}
.name-wrap {
	text-align: left;
}

.footer {
	margin: 40px 0;
	background-color: rgba(102, 95, 85, 1);
	padding: 100px;
	gap: 10px;
	border-radius: 40px;
	display: flex;
	justify-content: space-between;
}
.left,
.right {
	width: 50%;
}
.right {
	color: rgba(225, 212, 201, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.foot-title1 {
	font-size: 60px;
	color: rgba(225, 212, 201, 1);
}
.foot-title2 {
	font-size: 60px;
	color: rgba(176, 144, 122, 1);
	font-style: italic;
	margin-top: 8px;
}
.contact {
	margin-bottom: 20px;
}
.info {
	line-height: 24px;
	display: flex;
	align-items: center;
	gap: 10px;
	width: fit-content;
}
.info-wrapper {
	width: fit-content;
	margin: 8px 0;
}
.info-wrapper-last {
	margin: 8px 0;
}

.a-border-white {
	background-color: rgba(225, 212, 201, 1);
	height: 1.5px;
	width: 100%;
	border-radius: 2px;
	transform-origin: center;
	transform: scaleX(0);
	transition: 0.7s;
}

.info-wrapper:hover .a-border-white {
	transform: scaleX(1);
}

.logos-wrapper {
	display: flex;
	gap: 12px;
	margin: 24px 0 0px;
}
.app-logo {
	border-radius: 50%;
	transition: 0.8s;
}
.app-logo:hover {
	background-color: rgba(225, 212, 201, 1);
	transition: 0.8s;
}
.app-logo:hover path {
	stroke: rgba(64, 63, 61, 1);
	transition: 0.8s;
}

/* menu page start */
.menuPageWrapper {
	display: none;
}

.menu-main-title {
	font-size: 60px;
	color: rgba(64, 63, 61, 1);
	margin: 30px auto;
	text-align: center;
	width: 60%;
}

.icons-wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 300px;
	gap: 10px;
	margin: 10px auto;
}

.type-icon {
	border: 1px solid rgba(193, 182, 173, 1);
	border-radius: 100px;
	padding: 8px 16px 8px 8px;
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: inherit;
	color: inherit;
	transition: 0.7s;
	font-family: inherit;
	cursor: pointer;
}
.type-icon:hover {
	background-color: rgba(102, 95, 85, 1);
	color: rgba(225, 212, 201, 1);
	transition: 0.5s;
	border: 1px solid rgba(102, 95, 85, 1);
}

.coffee-items-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.coffee-item {
	width: 23%;
	margin-top: 25px;
	border: 1px solid rgba(193, 182, 173, 1);
	border-radius: 40px;
	position: relative;
}
.cof-img-wrap {
	border-radius: 40px;
	overflow: hidden;
}
.coffee-img {
	border-radius: 40px;
	display: block;
	width: 100%;
	height: 100%;
	transform: scale(1.1);
	transition: 0.7s;
}
.coffee-item:hover .coffee-img {
	transform: scale(1);
	transition: 0.7s;
}
.coffee-desc-wrap {
	color: rgba(64, 63, 61, 1);
	padding: 20px;
}
.coffee-desc {
	margin: 20px 0 60px 0;
	line-height: 24px;
}
.coffee-price {
	position: absolute;
	bottom: 20px;
}
.real-tea,
.real-dessert {
	display: none;
}
.coffee-click {
	background-color: rgba(102, 95, 85, 1);
	color: rgba(225, 212, 201, 1);
}
.clickEvent {
	cursor: pointer;
}

/* card overlay start */
.cardCoffeeWrap {
	max-width: 770px;
	margin: 20px auto;
	border-radius: 40px;
	background-color: rgba(225, 212, 201, 1);
	padding: 15px;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	cursor: pointer;
}

.cardImgWrap {
	display: inline-block;
	width: 34%;
	border-radius: 40px;
}
.cardImage {
	display: block;
	width: 100%;
	object-fit: cover;
	border-radius: 40px;
}

.cardCoffeeDesc {
	display: inline-block;
	width: 60%;
	color: rgba(64, 63, 61, 1);
}
.cardCoffeeText {
	margin: 20px 0;
}
.quantityBtnWrap {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.size {
	margin: 10px 0;
}
.quantityBtn {
	color: inherit;
	font-family: inherit;
	border: 2px solid rgba(193, 182, 173, 1);
	border-radius: 100px;
	display: flex;
	align-items: center;
	padding: 8px 16px 8px 8px;
	gap: 8px;
	font-weight: 600;
	background-color: inherit;
	transition: 0.5s;
	cursor: pointer;
}
.quantityBtn:hover {
	background-color: rgba(102, 95, 85, 1);
	border: 2px solid rgba(102, 95, 85, 1);
	color: rgba(225, 212, 201, 1);
	transition: 0.5s;
}
.additiveBtn {
	color: inherit;
	font-family: inherit;
	border: 2px solid rgba(193, 182, 173, 1);
	border-radius: 100px;
	display: flex;
	align-items: center;
	padding: 8px 16px 8px 8px;
	gap: 8px;
	font-weight: 600;
	background-color: inherit;
	transition: 0.5s;
	cursor: pointer;
}
.additiveBtn:hover {
	background-color: rgba(102, 95, 85, 1);
	border: 2px solid rgba(102, 95, 85, 1);
	color: rgba(225, 212, 201, 1);
	transition: 0.5s;
}

.autoHover {
	background-color: rgba(102, 95, 85, 1);
	border: 2px solid rgba(102, 95, 85, 1);
	color: rgba(225, 212, 201, 1);
}

.justSign {
	background-color: rgba(193, 182, 173, 1);
	padding: 4px 10px;
	border-radius: 50px;
	color: rgba(64, 63, 61, 1);
}
.inval1 {
	padding: 4px 7px;
}
.inval2 {
	padding: 4px 11.5px;
}
.totalWrap {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(193, 182, 173, 1);
	margin: 20px 0 10px;
}
.alert-wrap {
	display: flex;
	gap: 8px;
}
.alert-text {
	font-size: 10px;
	font-weight: 600;
}
.closeBtn {
	width: 100%;
	margin-top: 30px;
	color: inherit;
	font-family: inherit;
	font-weight: 600;
	line-height: 24px;
	font-size: 16px;
	border-radius: 100px;
	cursor: pointer;
	padding: 8px;
	border: 2px solid rgba(102, 95, 85, 1);
	transition: 0.5s;
	background-color: inherit;
}
.closeBtn:hover {
	background-color: rgba(102, 95, 85, 1);
	color: rgba(225, 212, 201, 1);
	transition: 0.5s;
}

.forAbsolute {
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	display: none;
	transition: 0.5s;
}

.overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10, 0.5);
	display: none;
}

.burgerWrapper {
	text-align: center;
	position: absolute;
	position: fixed;
	width: 98%;
	right: -100%;
	z-index: 1;
	background-color: rgba(225, 212, 201, 1);
	height: 90vh;
	right: -860px;
	transition: 0.3s;
}
.burger-item {
	margin: 35px auto;
	width: fit-content;
}
.burger-item:last-child {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 70px auto;
}

.burger-icon-wrap {
	font-size: 30px;
	padding: 4px 14px 7px;
	border: 1px solid;
	border-radius: 50px;
	cursor: pointer;
}

.getBlock {
	display: none;
}

.updateDiv {
	text-align: center;
	margin: 10px;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

/* media start */

@media only screen and (max-width: 1200px) and (min-width: 850px) {
	.title,
	.down-title,
	.foot-title1,
	.foot-title2,
	.choose-title,
	.title-def,
	.menu-main-title {
		font-size: 45px;
		line-height: 55px;
	}
	.title {
		font-size: 47px;
	}
	.desc {
		margin: 40px 0;
	}
	.in-img-wrapper {
		top: 52px;
		left: 52px;
		right: 10px;
	}
	.arrow-left {
		top: 48%;
	}
	.btn-icon {
		width: 195px;
	}

	/* menu start */
	.cardCoffeeWrap {
		width: 750px;
	}
}

@media only screen and (max-width: 850px) {
	.title,
	.down-title,
	.foot-title1,
	.foot-title2,
	.choose-title,
	.title-def,
	.menu-main-title {
		font-size: 40px;
		line-height: 50px;
	}
	.title {
		font-size: 50px;
	}
	.desc {
		margin: 50px 0;
	}
	.in-img-wrapper {
		top: 40px;
		left: 40px;
		right: 10px;
	}
	.nav-wrapper {
		display: none;
	}
	.getNone {
		display: none;
	}
	.getBlock {
		display: block;
	}
	.footer {
		flex-direction: column;
		padding: 60px;
	}
	.left,
	.right {
		width: 100%;
	}
	.right {
		margin-top: 30px;
	}
	.img-hero {
		height: 500px;
		object-fit: cover;
	}
	.arrow-left {
		top: 47%;
	}
	.choice {
		display: block;
		width: 80%;
		margin: 0 auto;
	}

	/* menu start */
	.cardCoffeeWrap {
		width: 570px;
	}
	.coffee-item {
		width: 48%;
	}

	.toggleBurger:last-child {
		top: 4.7%;
	}

	.menu-cup {
		transform: scale(1);
		margin-left: 8px;
	}
}

@media only screen and (max-width: 575px) {
	body {
		padding: 10px 15px;
	}
	.title,
	.down-title,
	.foot-title1,
	.foot-title2,
	.choose-title,
	.title-def,
	.menu-main-title {
		font-size: 38px;
		line-height: 40px;
	}

	.in-img-wrapper {
		top: 30px;
		left: 30px;
		right: 10px;
	}

	.btn-wrapper {
		flex-direction: column;
		width: 100%;
	}
	.btn-icon {
		padding: 7px 16px;
	}
	.footer {
		padding: 25px;
	}
	.arrow-left {
		top: 45%;
		left: 10px;
	}
	.arrow-right {
		right: 10px;
	}

	/* menu start */
	.cardCoffeeWrap {
		width: 100%;
	}
	.forAbsolute {
		width: 98%;
		font-size: smaller;
	}
	.quantityBtn {
		font-size: small;
	}
	.cardCoffeeDesc {
		width: 100%;
	}
	.cardImgWrap {
		width: 50%;
	}
	.quantityBtn {
		font-size: x-small;
	}

	.coffee-item {
		width: 98%;
		margin-left: 1%;
	}

	.toggleBurger:last-child {
		top: 3.3%;
	}

	.fst {
		transition: 0.6s;
	}

	.icons-wrapper {
		gap: 5px;
	}
	.type-icon {
		font-size: x-small;
		letter-spacing: 0.2px;
		gap: 2px;
	}
}

@media only screen and (max-width: 373px) {
	.img-hero {
		height: 620px;
		object-fit: cover;
	}
	.desc {
		margin: 30px 0;
	}
	.in-img-wrapper {
		top: 40px;
		left: 20px;
		right: 10px;
	}

	.type-icon {
		padding: 5px 10px 5px 5px;
	}
	.choice {
		width: 90%;
	}
}
@media only screen and (max-width: 400px) {
	.arrow-none {
		display: none;
	}
}

@media only screen and (max-width: 400px) {
	/* menu start*/
	.cardImgWrap {
		display: none;
	}
	.forAbsolute {
		width: 98%;
		font-size: smaller;
	}
	.quantityBtn {
		font-size: small;
	}
	.cardCoffeeDesc {
		width: 100%;
	}
	.quantityBtn {
		font-size: x-small;
	}
}

@media only screen and (min-width: 850px) {
	.updateDiv {
		display: none;
	}
}
